*{
    margin: 0;
    padding: 0;
}
.crown{
    background-color: #763004;
    padding-left: 450px;
    width: 100%;
    height: 40%;
}

.eyebrows{
    font-size: 50px;
    padding-top: 100px;
}

.shoes{
    background-color: #F3963F;
    width: 100%;
    height: 60%;
}

.knee{
    display: flex;
    list-style-type: none;
    padding-left: 380px;
}

.waist{
    color: green;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 100px;
}

.foot{
    padding-top: 20px;
}

.toe{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

.socks{
    font-size: 20px;
    padding-left: 400px;
    padding-top: 20px;
}